@import url('rsuite/SelectPicker/styles/index.css');
@import url('rsuite/InputNumber/styles/index.css');
@import url('rsuite/Slider/styles/index.css');

.app {
	display: flex;
	align-items: center;
	justify-content: center;
}

.main {
	width: 1074px;
	height: 500px;
	max-width: none;
	background-image: radial-gradient(circle, #000 20%, rgba(127, 86, 217, 0.22));
	border: 2px solid #47376c;
	border-radius: 18px;
	display: flex;
}

.main_left {
	width: 35%;
	display: flex;
	flex-direction: column;
}

.main_left_title {
	color: #a296bd;
	width: 100%;
	margin: 20px;
	margin-bottom: 0;
	text-transform: uppercase;
	font-size: 12px;
}

.main_left_form {
	flex-direction: column;
	display: flex;
	margin: 20px;
	margin-top: 0;
}

.main_left_form > div {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.main_left_form > div > label {
	margin-top: 20px;
	margin-bottom: 10px;
}

.main_right {
	width: 60%;
	display: flex;
	flex-direction: column;
}

.main_right_header_info {
	display: flex;
	margin: 20px;
}

.main_right_header_info_earned_number,
.main_right_header_info_balance {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
}

.main_right_header_info_earned {
	margin-right: 45px;
	margin-left: 45px;
}

.main_right_header_info_earned_number,
.main_right_header_info_balance_number {
	font-weight: bold;
	font-size: 26px;
	color: white;
}

.main_right_header_info_balance_text,
.main_right_header_info_earned_text {
	font-size: 13px;
}

.main_right_stats {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
	width: 100%;
}

.input-group {
	width: 100%;
	background: none !important;
	background-color: transparent !important;
}

.center {
	width: 5%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.center_line {
	width: 2px;

	background: linear-gradient(
			to bottom,
			transparent 10%,
			lightGray,
			lightGray 90%,
			transparent 100%
		),
		linear-gradient(
			to top,
			transparent 10%,
			lightGray,
			lightGray 90%,
			transparent 100%
		);
	height: 100%;
}

.middle {
	margin-top: 25px;
	width: 100%;
	height: 2px;
}

.middle_line {
	width: 100%;
	height: 2px;
	/* background-color: lightgray; */
	background: linear-gradient(
		to right,
		transparent 10%,
		lightGray,
		lightGray 100%,
		transparent 100%
	);
}

.custom-tooltip {
	padding: 5px 10px;
	border-radius: 16px;
	background-color: #03feeb;
}

.label,
.intro,
.desc {
	font-size: 12px;
	color: black;
}

.recharts-wrapper {
	width: 405px !important;
}

.main_left_form_apy > p {
	font-weight: bold;
}

.rs-picker-toggle.rs-btn.rs-btn-default,
.rs-input-group-addon,
.rs-input {
	background: none !important;
	background-color: transparent !important;
}

.rs-picker-has-value .rs-btn .rs-picker-toggle-value,
.rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value {
	color: white !important;
}

.rs-picker-popup {
	background-color: #0a0019 !important;
}

.rs-picker-select-menu-item.rs-picker-select-menu-item-active {
	color: white;
	background-color: #47376c;
}

.rs-picker-select-menu-item,
.rs-input-group-addon,
.rs-input {
	color: white;
}

.rs-picker-select-menu-item:hover {
	color: white;
}

iframe#webpack-dev-server-client-overlay {
	display: none !important;
}

@media screen and (max-width: 991px) {
	.main {
		width: 620px;
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.main_left,
	.main_right {
		width: 100%;
	}

	.center {
		display: none;
	}

	.main_right_header_info {
		justify-content: center;
		margin-left: 0;
	}

	.middle_line {
		background: linear-gradient(
				to right,
				transparent 10%,
				lightGray,
				lightGray 90%,
				transparent 100%
			),
			linear-gradient(
				to left,
				transparent 10%,
				lightGray,
				lightGray 90%,
				transparent 100%
			);
	}

	.middle:last-child {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	.main {
		width: 380px;
	}

	.main_right_stats {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.recharts-wrapper {
		width: 100% !important;
	}
}

@media screen and (max-width: 350px) {
	.main_right_header_info {
		width: auto;
		margin: 10px;
	}

	.main_right_header_info_earned {
		margin-right: 20px;
		margin-left: 10px;
	}
	.main_right_header_info_balance_number, .main_right_header_info_earned_number {
		font-size: 20px;
	}
}
